*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #222327;
    --circle_icon: 70px;
}
.app{
    height: 100vh;
    position: relative;
}

body{
    background-color: #f2f0f0;
}

.footer-navigation{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.navigation-1{
    max-width: 400px;
    min-width: 350px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    background-image: linear-gradient(to left top, #dfcdd8, #e3ced9, #e7cfda, #ebcfda, #efd0da, #edd0e0, #ead1e5, #e5d2eb, #d2d6f4, #bcdaf4, #acdeec, #a8dfdb);
}

.navigation-1 .ul-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

.navigation-1 .ul-list .li-list a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation-1 .ul-list .li-list{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation-1 .ul-list .li-list a .span-icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation-1 .ul-list .li-list.li-active a .span-icon{
    transform: translateY(-15px);
}

.navigation-1 .ul-list .li-list a .span-title{
    font-size: 13px;
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.0.5em;
    opacity: 0;
    transform: translateY(20px);
}

.navigation-1 .ul-list .li-list.li-active a .span-title{
    opacity: 1;
    transform: translateY(10px);
}

/* .li-indicator{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #29fd53;
    top: -50%;
    border-radius: 50%;
    border: 6px solid var(--clr);
} */

.navigation-1 .ul-list .li-list:nth-child(1).li-active ~ .li-indicator{
    transform: translateX(calc(var(--circle_icon) * 0));
}
.navigation-1 .ul-list .li-list:nth-child(2).li-active ~ .li-indicator{
    transform: translateX(calc(var(--circle_icon) * 1));
}
.navigation-1 .ul-list .li-list:nth-child(3).li-active ~ .li-indicator{
    transform: translateX(calc(var(--circle_icon) * 2));
}
.navigation-1 .ul-list .li-list:nth-child(4).li-active ~ .li-indicator{
    transform: translateX(calc(var(--circle_icon) * 3));
}