button{
    background: none;
    outline: none;
    border: none;
}
.app{
    background-color: #f2f0f0;
}
.container {
    max-width: 576px;
    margin: auto;
}
.history-title{
    background-image: linear-gradient(to left top, #dfcdd8, #e3ced9, #e7cfda, #ebcfda, #efd0da, #edd0e0, #ead1e5, #e5d2eb, #d2d6f4, #bcdaf4, #acdeec, #a8dfdb);
    width: 100vw;
    text-align: center;
    height: 50px;
    padding-top: 17px;
    color: #454545;
}


#popup-vote-1{
    width: 350px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%) scale(1);
    padding: 20px;
    border: 1px solid #a79ca3;
    transition: 0.5s;
    z-index: 1000000;
}

.avtive-fail{
    display: none;
}

.active-success{
    display: block;
}

.popup-vote-submit{
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
    background-image: linear-gradient(to left top, #dfcdd8, #e3ced9, #e7cfda, #ebcfda, #efd0da, #edd0e0, #ead1e5, #e5d2eb, #d2d6f4, #bcdaf4, #acdeec, #a8dfdb);
}

.xacnhanbinhchonthanhcong{
    height: 100px;
    text-align: center;
}