* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 576px;
    margin: auto;
}
input,
button {
  padding: 0;
  margin: 0;
  outline: none;
  background: none;
}